In [ ]:
#pandas 
#pandas is a python library
#pandas is used to analyze tha data sets
#functions
#1.analyzing
#2.clenaing
#3.exploring
#4.manipluting data

In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [2]:
#dataframe
import pandas as pd
mydataset={'cars':["BMW","VOLVO","FORD"],
           'Passing':[3,7,2]}
myvar=pd.DataFrame(mydataset)
print(myvar)

    cars  Passing
0    BMW        3
1  VOLVO        7
2   FORD        2

In [3]:
import pandas
mydataset={'cars':["BMW","VOLVO","FORD"],
           'Passing':[3,7,2],
          'colours':["yellow","blue","red"]}
myvar=pandas.DataFrame(mydataset)
print(myvar)

    cars  Passing colours
0    BMW        3  yellow
1  VOLVO        7    blue
2   FORD        2     red

In [14]:
#series
import pandas as pd
a=[1,2,3]
myvar=pd.Series(a)
print(myvar)

0    1
1    2
2    3
dtype: int64

In [15]:
#create lables 
a=[1,7,2]
myvar=pd.Series(a,index=['x','y','z'])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [27]:
a=["abi","jeenath","gowt"]
myvar=pd.Series(a,index=['x','y','z'])
print(myvar['y'])

jeenath

In [29]:
#key/value objects as series:
calories={"day1":420,"day2":380,"day3":390}
myvar=pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [36]:
calories={"day1":420,"day2":380,"day3":390}
myvar=pd.Series(calories)
print(myvar["day2"])
print(myvar[0:2])

380
day1    420
day2    380
dtype: int64

In [37]:
print(pd.__version__)

2.1.4

In [13]:
#locate row:
import pandas as pd
mydataset={'cars':["BMW","VOLVO","FORD"],
           'Passing':[3,7,2],
          'colour':["white","yellow","blue"]}
myvar=pd.DataFrame(mydataset)
#print(myvar.loc[[0,1]])
#print(myvar.loc[0])

In [1]:
#locate named index:
df=pd.read_csv(r'C:\Users\LENOVO\Downloads\customers-100.csv')
#(df.to_string())

NameError: name 'pd' is not defined

In [18]:
#max_rows
import pandas as pd
df=pd.read_csv(r'C:\Users\LENOVO\Downloads\customers-100.csv')

#print(df.to_string)
#pd.options.display.max_rows=1000
#print(pd.options.display.max_rows)
#print(pd.options.display.min_rows)
#print(pd.options.display.max_rows==60)
print(df.sample(10))

    Index      Customer Id First Name Last Name                     Company  \
93     94  54B5B5Fe9F1B6C5     Sherry     Young     Lee, Lucero and Johnson
38     39  dca4f1D0A0fc5c9      Bruce   Esparza               Huerta-Mclean
12     13  e35426EbDEceaFF     Tracey      Mata              Graham-Francis
67     68  a014Ec1b9FccC1E        Tom  Alvarado         Donaldson-Dougherty
97     98  28CDbC0dFe4b1Db       Fred    Guerra               Schmitt-Jones
73     74  A3F76Be153Df4a3      Anita    Benson                 Parrish Ltd
77     78  FfaeFFbbbf280db    Cassidy   Mcmahon  Mcguire, Huynh and Hopkins
81     82  Ebdb6F6F7c90b69   Kathleen     Mckay    Coffey, Lamb and Johnson
75     76  d40e89dCade7b2F      Debra    Riddle  Chang, Aguirre and Leblanc
87     88  E4Bbcd8AD81fC5f     Alison    Vargas     Vaughn, Watts and Leach

                  City                           Country  \
93        Frankchester                   Solomon Islands
38           Poolefurt                        Montenegro
12   South Joannamouth                              Togo
67    South Sophiaberg                          Kiribati
97          Ortegaland                   Solomon Islands
73         Skinnerport                Russian Federation
77  Lake Sherryborough                           Myanmar
81      Lake Janiceton  Saint Vincent and the Grenadines
75          Colinhaven      United States Virgin Islands
87   East Cristinabury                             Benin

                  Phone 1                Phone 2  \
93           158-687-1764      (438)375-6207x003
38           559-529-4424  001-625-000-7132x0367
12       001-949-844-8787          (855)713-8773
67     (585)606-2980x2258      730-797-3594x5614
97   +1-753-067-8419x7170  +1-632-666-7507x92121
73     874.617.5668x69878     (399)820-6418x0071
77             5040771311      684-682-0021x1326
81          (733)910-9968     (691)247-4128x0665
75  +1-768-182-6014x14336          (303)961-4491
87           365-273-8144      053-308-7653x6287

                                Email Subscription Date  \
93        alan79@gates-mclaughlin.com        2021-04-04
38               preese@frye-vega.com        2021-10-22
12                   alex56@walls.org        2021-12-02
67      nicholsonnina@montgomery.info        2020-08-18
97                   swagner@kane.org        2021-09-18
73               angie04@oconnell.com        2020-02-09
77         katrinalane@fitzgerald.com        2020-10-21
81  chloelester@higgins-wilkinson.com        2021-09-12
75            shieldskerry@robles.com        2020-07-11
87                  vcantu@norton.com        2020-11-10

                         Website
93           https://travis.net/
38        http://www.farley.org/
12          http://www.beck.com/
67       http://odom-massey.com/
97         https://www.ross.com/
73           http://oconnor.com/
77            https://hurst.com/
81  http://www.owens-mooney.com/
75           http://kaiser.info/
87            http://mason.info/

In [3]:
import pandas as pd
df=pd.read_json(r"C:\Users\LENOVO\Desktop\abi.json")
print(df.info())
print("------------------------------")
print(df.to_string())

<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 2 to 1
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  167 non-null    float64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(2), int64(2)
memory usage: 6.6 KB
None
------------------------------
     Duration  Pulse  Maxpulse  Calories
2        60.0    103       135     340.0
3        45.0    109       175     282.4
4        45.0    117       148     406.0
5        60.0    102       127     300.5
6        60.0    110       136     374.0
7        45.0    104       134     253.3
8        30.0    109       133     195.1
9        60.0     98       124     269.0
10       60.0    103       147     329.3
11       60.0    100       120     250.7
12       60.0    106       128     345.3
13       60.0    104       132     379.3
14       60.0     98       123     275.0
15       60.0     98       120     215.2
16       60.0    100       120     300.0
17       45.0     90       112       NaN
18       60.0    103       123     323.0
19       45.0     97       125     243.0
20       60.0    108       131     364.2
21       45.0    100       119     282.0
22       60.0    130       101     300.0
23       45.0    105       132     246.0
24       60.0    102       126     334.5
25       60.0    100       120     250.0
26       60.0     92       118     241.0
27       60.0    103       132       NaN
28       60.0    100       132     280.0
29       60.0    102       129     380.3
30       60.0     92       115     243.0
31       45.0     90       112     180.1
32       60.0    101       124     299.0
33       60.0     93       113     223.0
34       60.0    107       136     361.0
35       60.0    114       140     415.0
36       60.0    102       127     300.5
37       60.0    100       120     300.1
38       60.0    100       120     300.0
39       45.0    104       129     266.0
40       45.0     90       112     180.1
41       60.0     98       126     286.0
42       60.0    100       122     329.4
43       60.0    111       138     400.0
44       60.0    111       131     397.0
45       60.0     99       119     273.0
46       60.0    109       153     387.6
47       45.0    111       136     300.0
48       45.0    108       129     298.0
49       60.0    111       139     397.6
50       60.0    107       136     380.2
51       80.0    123       146     643.1
52       60.0    106       130     263.0
53       60.0    118       151     486.0
54       30.0    136       175     238.0
55       60.0    121       146     450.7
56       60.0    118       121     413.0
57       45.0    115       144     305.0
58       20.0    153       172     226.4
59       45.0    123       152     321.0
60      210.0    108       160    1376.0
61      160.0    110       137    1034.4
62      160.0    109       135     853.0
63       45.0    118       141     341.0
64       20.0    110       130     131.4
65      180.0     90       130     800.4
66      150.0    105       135     873.4
67      150.0    107       130     816.0
68       20.0    106       136     110.4
69      300.0    108       143    1500.2
70      150.0     97       129    1115.0
71       60.0    109       153     387.6
72       90.0    100       127     700.0
73      150.0     97       127     953.2
74       45.0    114       146     304.0
75       90.0     98       125     563.2
76       45.0    105       134     251.0
77       45.0    110       141     300.0
78      120.0    100       130     500.4
79      270.0    100       131    1729.0
80       30.0    159       182     319.2
81       45.0    149       169     344.0
82       30.0    103       139     151.1
83      120.0    100       130     500.0
84       45.0    100       120     225.3
85       30.0    151       170     300.1
86       45.0    102       136     234.0
87      120.0    100       157    1000.1
88       45.0    129       103     242.0
89       20.0     83       107      50.3
90      180.0    101       127     600.1
91       45.0    107       137       NaN
92       30.0     90       107     105.3
93       15.0     80       100      50.5
94       20.0    150       171     127.4
95       20.0    151       168     229.4
96       30.0     95       128     128.2
97       25.0    152       168     244.2
98       30.0    109       131     188.2
99       90.0     93       124     604.1
100      20.0     95       112      77.7
101      90.0     90       110     500.0
102      90.0     90       100     500.0
103      90.0     90       100     500.4
104      30.0     92       108      92.7
105      30.0     93       128     124.0
106     180.0     90       120     800.3
107      30.0     90       120      86.2
108      90.0     90       120     500.3
109     210.0    137       184    1860.4
110      60.0    102       124     325.2
111      45.0    107       124     275.0
112      15.0    124       139     124.2
113      45.0    100       120     225.3
114      60.0    108       131     367.6
115      60.0    108       151     351.7
116      60.0    116       141     443.0
117      60.0     97       122     277.4
118      60.0    105       125       NaN
119      60.0    103       124     332.7
120      30.0    112       137     193.9
121      45.0    100       120     100.7
122      60.0    119       169     336.7
123      60.0    107       127     344.9
124      60.0    111       151     368.5
125      60.0     98       122     271.0
126      60.0     97       124     275.3
127      60.0    109       127     382.0
128      90.0     99       125     466.4
129      60.0    114       151     384.0
130      60.0    104       134     342.5
131      60.0    107       138     357.5
132      60.0    103       133     335.0
133      60.0    106       132     327.5
134      60.0    103       136     339.0
135      20.0    136       156     189.0
136      45.0    117       143     317.7
137      45.0    115       137     318.0
138      45.0    113       138     308.0
139      20.0    141       162     222.4
140      60.0    108       135     390.0
141      60.0     97       127       NaN
142      45.0    100       120     250.4
143      45.0    122       149     335.4
144      60.0    136       170     470.2
145      45.0    106       126     270.8
146      60.0    107       136     400.0
147      60.0    112       146     361.9
148      30.0    103       127     185.0
149      60.0    110       150     409.4
150      60.0    106       134     343.0
151      60.0    109       129     353.2
152      60.0    109       138     374.0
153      30.0    150       167     275.8
154      60.0    105       128     328.0
155      60.0    111       151     368.5
156      60.0     97       131     270.4
157      60.0    100       120     270.4
158      60.0    114       150     382.8
159      30.0     80       120     240.9
160      30.0     85       120     250.4
161      45.0     90       130     260.4
162      45.0     95       130     270.0
163      45.0    100       140     280.9
164      60.0    105       140     290.8
165      60.0    110       145     300.4
166      60.0    115       145     310.2
167      75.0    120       150     320.4
168      75.0    125       150     330.4
0         NaN    110       130     409.1
1         NaN    117       145     479.0

In [4]:
import pandas as pd
l=[10,20,30,40,50]
pd.Series(l,index=[1,2,3,4,5])
#print(w)

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [7]:
import pandas as pd
l=[10,20,30,40,100]
pd.Series(l)

0     10
1     20
2     30
3     40
4    100
dtype: int64

In [11]:
import pandas as pd
d={'name':["abi","raj","raju"],'percentage':[98,90,95]}
pd.Series(d)

name          [abi, raj, raju]
percentage        [98, 90, 95]
dtype: object

In [14]:
import pandas as pd
d={'name':["abi","raj","raju"],'percentage':[98,90,95]}
pd.DataFrame(d,index=[1,2,3])

   name  percentage
1   abi          98
2   raj          90
3  raju          95

In [15]:
import pandas as pd
d={'name':("abi","raj","raju"),'percentage':(98,90,95)}
pd.DataFrame(d,index=[1,2,3])

   name  percentage
1   abi          98
2   raj          90
3  raju          95

In [25]:
import pandas as pd

calories = {"day1": [420], "day2": [380], "day3": [390]}
pd.DataFrame(calories)

   day1  day2  day3
0   420   380   390

In [22]:
import pandas as pd
calories = {"years": [420, 380, 390],"decades":[4,3,3.5]}
pd.DataFrame(calories)

   years  decades
0    420      4.0
1    380      3.0
2    390      3.5

In [8]:
import pandas as pd
user={"Name":["Abi","Jeenath","Gowtham","Praveen","Kavya","Vignesh"],
      "Branch":["IT","IT","IT","ECE","EEE","MECH"],
      "Percentage":['90%','90%','90%','95%','97%','98%']}
pd.DataFrame(user,index=[1,2,3,4,5,6])

      Name Branch Percentage
1      Abi     IT        90%
2  Jeenath     IT        90%
3  Gowtham     IT        90%
4  Praveen    ECE        95%
5    Kavya    EEE        97%
6  Vignesh   MECH        98%

In [38]:
d=[("abi",90,"IT"),("Jeenath",90,"IT")]
pd.DataFrame(d)

         0   1   2
0      abi  90  IT
1  Jeenath  90  IT

In [35]:
user={"Name":("Abi","Jeenath","Gowtham","Praveen","Kavya","Vignesh"),
      "Branch":("IT","IT","IT","ECE","EEE","MECH"),
      "Percentage":('90%','90%','90%','95%','97%','98%')}
pd.DataFrame(user,index=[1,2,3,4,5,6])

      Name Branch Percentage
1      Abi     IT        90%
2  Jeenath     IT        90%
3  Gowtham     IT        90%
4  Praveen    ECE        95%
5    Kavya    EEE        97%
6  Vignesh   MECH        98%

In [40]:
s = pd.Series([1, 2, 3])
s.shape

(3,)

In [7]:
user={"Name":("Abi","Jeenath","Gowtham","Praveen","Kavya","Vignesh"),
      "Branch":("IT","IT","IT","ECE","EEE","MECH"),
      "Percentage":('90%','90%','90%','95%','97%','98%')}
df=pd.DataFrame(user)
#print(df.head())
print(df.head(3))

      Name Branch Percentage
0      Abi     IT        90%
1  Jeenath     IT        90%
2  Gowtham     IT        90%

In [12]:
df=pd.read_csv(r'C:\Users\LENOVO\Downloads\customers-100.csv')
e=pd.DataFrame(df)
#print(e.head())
#print(e.info())
print(e.tail(2))

    Index      Customer Id First Name Last Name             Company  \
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer  Fitzgerald-Harrell
99    100  2354a0E336A91A1   Clarence    Haynes  Le, Nash and Cross

               City   Country        Phone 1                 Phone 2  \
98  Lake Elijahview     Aruba  (530)311-9786  001-869-452-0943x12424
99        Judymouth  Honduras  (753)813-6941            783.639.1472

                             Email Subscription Date  \
98  mccarthystephen@horn-green.biz        2021-08-11
99          colleen91@faulkner.biz        2020-03-11

                              Website
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

In [16]:
df=pd.read_csv(r'C:\Users\LENOVO\Downloads\customers-100.csv')
new_df=df.dropna()
#print(new_df.to_string())
print(new_df)

    Index      Customer Id First Name Last Name  \
0       1  DD37Cf93aecA6Dc     Sheryl    Baxter
1       2  1Ef7b82A4CAAD10    Preston    Lozano
2       3  6F94879bDAfE5a6        Roy     Berry
3       4  5Cef8BFA16c5e3c      Linda     Olsen
4       5  053d585Ab6b3159     Joanna    Bender
..    ...              ...        ...       ...
95     96  cb8E23e48d22Eae       Karl     Greer
96     97  CeD220bdAaCfaDf       Lynn  Atkinson
97     98  28CDbC0dFe4b1Db       Fred    Guerra
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer
99    100  2354a0E336A91A1   Clarence    Haynes

                            Company               City  \
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
..                              ...                ...
95                        Carey LLC       East Richard
96            Ware, Burns and Oneal       New Bradview
97                    Schmitt-Jones         Ortegaland
98               Fitzgerald-Harrell    Lake Elijahview
99               Le, Nash and Cross          Judymouth

                       Country                 Phone 1  \
0                        Chile            229.077.5154
1                     Djibouti              5153435776
2          Antigua and Barbuda         +1-539-402-0259
3           Dominican Republic  001-808-617-6467x12895
4   Slovakia (Slovak Republic)  001-234-203-0635x76146
..                         ...                     ...
95                      Guyana     (188)169-1674x58692
96                   Sri Lanka         +1-846-706-2218
97             Solomon Islands    +1-753-067-8419x7170
98                       Aruba           (530)311-9786
99                    Honduras           (753)813-6941

                   Phone 2                           Email Subscription Date  \
0         397.884.0519x718        zunigavanessa@smith.info        2020-08-24
1         686-620-1820x944                 vmata@colon.com        2021-04-23
2      (496)978-3969x58947             beckycarr@hogan.com        2020-03-25
3          +1-813-324-8756     stanleyblackwell@benson.org        2020-06-02
4    001-199-446-3860x3486         colinalvarado@miles.net        2021-04-17
..                     ...                             ...               ...
95    001-841-293-3519x614                hhart@jensen.com        2022-01-30
96            605.413.3198               vkemp@ferrell.com        2021-07-10
97   +1-632-666-7507x92121                swagner@kane.org        2021-09-18
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz        2021-08-11
99            783.639.1472          colleen91@faulkner.biz        2020-03-11

                              Website
0          http://www.stephenson.com/
1               http://www.hobbs.com/
2            http://www.lawrence.com/
3          http://www.good-lyons.com/
4         https://goodwin-ingram.com/
..                                ...
95            http://hayes-perez.com/
96         https://novak-allison.com/
97              https://www.ross.com/
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

[100 rows x 12 columns]

In [17]:
df=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\info.csv")
new=df.dropna()
print(new)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [20]:
df=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\info.csv")
print(df.shape)

(32, 5)

In [35]:
df=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\info.csv")
df.dropna(inplace=True)
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [34]:
df=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\info.csv")
df.fillna(130,inplace=True)
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     130.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           130    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     130.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [33]:
df=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\info.csv")
df["Date"].fillna(2020/12/2,inplace=True)
df["Calories"].fillna(300.4,inplace=True)
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     300.4
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45     84.166667    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     300.4
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [ ]:
#Replace Using Mean, Median, or Mode

In [13]:
import pandas as pd
df=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\info.csv")
#print(df)
df['Date'] = pd.to_datetime(df['Date'],dayfirst=True)
df.info()
print(df.to_string())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      32 non-null     datetime64[ns]
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 1.4 KB
    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-01-12    110       130     409.1
1         60 2020-02-12    117       145     479.0
2         60 2020-03-12    103       135     340.0
3         45 2020-04-12    109       175     282.4
4         45 2020-05-12    117       148     406.0
5         60 2020-04-12    102       127     300.0
6         60 2020-04-12    110       136     374.0
7        450 2020-04-12    104       134     253.3
8         30 2020-04-12    109       133     195.1
9         60 2020-04-12     98       124     269.0
10        60 2020-04-12    103       147     329.3
11        60 2020-04-12    100       120     250.7
12        60 2020-04-12    100       120     250.7
13        60 2020-04-12    106       128     345.3
14        60 2020-04-12    104       132     379.3
15        60 2020-04-12     98       123     275.0
16        60 2020-04-12     98       120     215.2
17        60 2020-05-12    100       120     300.0
18        45 2020-05-12     90       112       NaN
19        60 2020-05-12    103       123     323.0
20        45 2020-05-12     97       125     243.0
21        60 2020-05-12    108       131     364.2
22        45 2020-05-12    100       119     282.0
23        60 2020-05-12    130       101     300.0
24        45 2020-05-12    105       132     246.0
25        60 2020-05-12    102       126     334.5
26        60 2020-05-12    100       120     250.0
27        60 2020-05-12     92       118     241.0
28        60 2020-05-12    103       132       NaN
29        60 2020-05-12    100       132     280.0
30        60 2020-05-12    102       129     380.3
31        60 2020-05-12     92       115     243.0

In [4]:
import pandas as pd
data=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\dateTime.csv")
data['Date']=pd.to_datetime(data['Date'])
print(data.to_string())
print(data.info())

     Duration  Pulse  Maxpulse  Calories       Date
0          60    110       130     409.1 2020-12-01
1          60    117       145     479.0 2020-12-02
2          60    103       135     340.0 2020-12-03
3          45    109       175     282.4 2020-12-04
4          45    117       148     406.0 2020-12-05
5          60    102       127     300.0 2020-12-06
6          60    110       136     374.0 2020-12-07
7          45    104       134     253.3 2020-12-08
8          30    109       133     195.1 2020-12-09
9          60     98       124     269.0 2020-12-10
10         60    103       147     329.3 2020-12-11
11         60    100       120     250.7 2020-12-12
12         60    106       128     345.3 2020-12-12
13         60    104       132     379.3 2020-12-13
14         60     98       123     275.0 2020-12-14
15         60     98       120     215.2 2020-12-15
16         60    100       120     300.0 2020-12-16
17         45     90       112       NaN 2020-12-17
18         60    103       123     323.0 2020-12-18
19         45     97       125     243.0 2020-12-19
20         60    108       131     364.2 2020-12-20
21         45    100       119     282.0 2020-12-21
22         60    130       101     300.0 2020-12-16
23         45    105       132     246.0 2020-12-23
24         60    102       126     334.5 2020-12-24
25         60    100       120     250.0 2020-12-25
26         60     92       118     241.0 2020-12-19
27         60    103       132       NaN 2020-12-27
28         60    100       132     280.0 2020-12-28
29         60    102       129     380.3 2020-12-29
30         60     92       115     243.0 2020-12-30
31         45     90       112     180.1 2020-12-31
32         60    101       124     299.0 2020-12-01
33         60     93       113     223.0 2020-12-02
34         60    107       136     361.0 2020-12-03
35         60    114       140     415.0 2020-12-04
36         60    102       127     300.0 2020-12-05
37         60    100       120     300.0 2020-12-06
38         60    100       120     300.0 2020-12-07
39         45    104       129     266.0 2020-12-08
40         45     90       112     180.1 2020-12-09
41         60     98       126     286.0 2020-12-10
42         60    100       122     329.4 2020-12-11
43         60    111       138     400.0 2020-12-12
44         60    111       131     397.0 2020-12-12
45         60     99       119     273.0 2020-12-13
46         60    109       153     387.6 2020-12-14
47         45    111       136     300.0 2020-12-15
48         45    108       129     298.0 2020-12-16
49         60    111       139     397.6 2020-12-17
50         60    107       136     380.2 2020-12-18
51         80    123       146     643.1 2020-12-19
52         60    106       130     263.0 2020-12-20
53         60    118       151     486.0 2020-12-21
54         30    136       175     238.0 2020-12-16
55         60    121       146     450.7 2020-12-23
56         60    118       121     413.0 2020-12-24
57         45    115       144     305.0 2020-12-25
58         20    153       172     226.4 2020-12-23
59         45    123       152     321.0 2020-12-27
60        210    108       160    1376.0 2020-12-28
61        160    110       137    1034.4 2020-12-29
62        160    109       135     853.0 2020-12-30
63         45    118       141     341.0 2020-12-31
64         20    110       130     131.4 2020-12-01
65        180     90       130     800.4 2020-12-02
66        150    105       135     873.4 2020-12-03
67        150    107       130     816.0 2020-12-04
68         20    106       136     110.4 2020-12-05
69        300    108       143    1500.2 2020-12-06
70        150     97       129    1115.0 2020-12-07
71         60    109       153     387.6 2020-12-08
72         90    100       127     700.0 2020-12-09
73        150     97       127     953.2 2020-12-10
74         45    114       146     304.0 2020-12-11
75         90     98       125     563.2 2020-12-12
76         45    105       134     251.0 2020-12-12
77         45    110       141     300.0 2020-12-13
78        120    100       130     500.4 2020-12-14
79        270    100       131    1729.0 2020-12-15
80         30    159       182     319.2 2020-12-16
81         45    149       169     344.0 2020-12-17
82         30    103       139     151.1 2020-12-18
83        120    100       130     500.0 2020-12-19
84         45    100       120     225.3 2020-12-20
85         30    151       170     300.0 2020-12-21
86         45    102       136     234.0 2020-12-16
87        120    100       157    1000.1 2020-12-23
88         45    129       103     242.0 2020-12-24
89         20     83       107      50.3 2020-12-25
90        180    101       127     600.1 2020-12-19
91         45    107       137       NaN 2020-12-27
92         30     90       107     105.3 2020-12-28
93         15     80       100      50.5 2020-12-29
94         20    150       171     127.4 2020-12-30
95         20    151       168     229.4 2020-12-31
96         30     95       128     128.2 2020-12-01
97         25    152       168     244.2 2020-12-02
98         30    109       131     188.2 2020-12-03
99         90     93       124     604.1 2020-12-04
100        20     95       112      77.7 2020-12-05
101        90     90       110     500.0 2020-12-06
102        90     90       100     500.0 2020-12-07
103        90     90       100     500.4 2020-12-08
104        30     92       108      92.7 2020-12-09
105        30     93       128     124.0 2020-12-10
106       180     90       120     800.3 2020-12-11
107        30     90       120      86.2 2020-12-12
108        90     90       120     500.3 2020-12-12
109       210    137       184    1860.4 2020-12-13
110        60    102       124     325.2 2020-12-14
111        45    107       124     275.0 2020-12-15
112        15    124       139     124.2 2020-12-16
113        45    100       120     225.3 2020-12-17
114        60    108       131     367.6 2020-12-18
115        60    108       151     351.7 2020-12-19
116        60    116       141     443.0 2020-12-20
117        60     97       122     277.4 2020-12-21
118        60    105       125       NaN 2020-12-24
119        60    103       124     332.7 2020-12-23
120        30    112       137     193.9 2020-12-24
121        45    100       120     100.7 2020-12-25
122        60    119       169     336.7 2020-12-17
123        60    107       127     344.9 2020-12-27
124        60    111       151     368.5 2020-12-28
125        60     98       122     271.0 2020-12-29
126        60     97       124     275.3 2020-12-30
127        60    109       127     382.0 2020-12-31
128        90     99       125     466.4 2020-12-01
129        60    114       151     384.0 2020-12-02
130        60    104       134     342.5 2020-12-03
131        60    107       138     357.5 2020-12-04
132        60    103       133     335.0 2020-12-05
133        60    106       132     327.5 2020-12-06
134        60    103       136     339.0 2020-12-07
135        20    136       156     189.0 2020-12-08
136        45    117       143     317.7 2020-12-09
137        45    115       137     318.0 2020-12-10
138        45    113       138     308.0 2020-12-11
139        20    141       162     222.4 2020-12-12
140        60    108       135     390.0 2020-12-12
141        60     97       127       NaN 2020-12-13
142        45    100       120     250.4 2020-12-14
143        45    122       149     335.4 2020-12-15
144        60    136       170     470.2 2020-12-16
145        45    106       126     270.8 2020-12-17
146        60    107       136     400.0 2020-12-18
147        60    112       146     361.9 2020-12-19
148        30    103       127     185.0 2020-12-20
149        60    110       150     409.4 2020-12-21
150        60    106       134     343.0 2020-12-24
151        60    109       129     353.2 2020-12-23
152        60    109       138     374.0 2020-12-24
153        30    150       167     275.8 2020-12-25
154        60    105       128     328.0 2020-12-18
155        60    111       151     368.5 2020-12-27
156        60     97       131     270.4 2020-12-28
157        60    100       120     270.4 2020-12-29
158        60    114       150     382.8 2020-12-30
159        30     80       120     240.9 2020-12-31
160        30     85       120     250.4 2020-12-01
161        45     90       130     260.4 2020-12-02
162        45     95       130     270.0 2020-12-03
163        45    100       140     280.9 2020-12-04
164        60    105       140     290.8 2020-12-05
165        60    110       145     300.0 2020-12-06
166        60    115       145     310.2 2020-12-07
167        75    120       150     320.4 2020-12-08
168        75    125       150     330.4 2020-12-09
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
 4   Date      169 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 6.7 KB
None

In [8]:
import pandas as pd
data=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\dateTime.csv")
data['Date']=pd.to_datetime(data['Date'])
print(data.to_string())
data['Calories'].unique()
data['Calories'].value_counts()
data['Calories'].value_counts(normalize=True)

     Duration  Pulse  Maxpulse  Calories       Date
0          60    110       130     409.1 2020-12-01
1          60    117       145     479.0 2020-12-02
2          60    103       135     340.0 2020-12-03
3          45    109       175     282.4 2020-12-04
4          45    117       148     406.0 2020-12-05
5          60    102       127     300.0 2020-12-06
6          60    110       136     374.0 2020-12-07
7          45    104       134     253.3 2020-12-08
8          30    109       133     195.1 2020-12-09
9          60     98       124     269.0 2020-12-10
10         60    103       147     329.3 2020-12-11
11         60    100       120     250.7 2020-12-12
12         60    106       128     345.3 2020-12-12
13         60    104       132     379.3 2020-12-13
14         60     98       123     275.0 2020-12-14
15         60     98       120     215.2 2020-12-15
16         60    100       120     300.0 2020-12-16
17         45     90       112       NaN 2020-12-17
18         60    103       123     323.0 2020-12-18
19         45     97       125     243.0 2020-12-19
20         60    108       131     364.2 2020-12-20
21         45    100       119     282.0 2020-12-21
22         60    130       101     300.0 2020-12-16
23         45    105       132     246.0 2020-12-23
24         60    102       126     334.5 2020-12-24
25         60    100       120     250.0 2020-12-25
26         60     92       118     241.0 2020-12-19
27         60    103       132       NaN 2020-12-27
28         60    100       132     280.0 2020-12-28
29         60    102       129     380.3 2020-12-29
30         60     92       115     243.0 2020-12-30
31         45     90       112     180.1 2020-12-31
32         60    101       124     299.0 2020-12-01
33         60     93       113     223.0 2020-12-02
34         60    107       136     361.0 2020-12-03
35         60    114       140     415.0 2020-12-04
36         60    102       127     300.0 2020-12-05
37         60    100       120     300.0 2020-12-06
38         60    100       120     300.0 2020-12-07
39         45    104       129     266.0 2020-12-08
40         45     90       112     180.1 2020-12-09
41         60     98       126     286.0 2020-12-10
42         60    100       122     329.4 2020-12-11
43         60    111       138     400.0 2020-12-12
44         60    111       131     397.0 2020-12-12
45         60     99       119     273.0 2020-12-13
46         60    109       153     387.6 2020-12-14
47         45    111       136     300.0 2020-12-15
48         45    108       129     298.0 2020-12-16
49         60    111       139     397.6 2020-12-17
50         60    107       136     380.2 2020-12-18
51         80    123       146     643.1 2020-12-19
52         60    106       130     263.0 2020-12-20
53         60    118       151     486.0 2020-12-21
54         30    136       175     238.0 2020-12-16
55         60    121       146     450.7 2020-12-23
56         60    118       121     413.0 2020-12-24
57         45    115       144     305.0 2020-12-25
58         20    153       172     226.4 2020-12-23
59         45    123       152     321.0 2020-12-27
60        210    108       160    1376.0 2020-12-28
61        160    110       137    1034.4 2020-12-29
62        160    109       135     853.0 2020-12-30
63         45    118       141     341.0 2020-12-31
64         20    110       130     131.4 2020-12-01
65        180     90       130     800.4 2020-12-02
66        150    105       135     873.4 2020-12-03
67        150    107       130     816.0 2020-12-04
68         20    106       136     110.4 2020-12-05
69        300    108       143    1500.2 2020-12-06
70        150     97       129    1115.0 2020-12-07
71         60    109       153     387.6 2020-12-08
72         90    100       127     700.0 2020-12-09
73        150     97       127     953.2 2020-12-10
74         45    114       146     304.0 2020-12-11
75         90     98       125     563.2 2020-12-12
76         45    105       134     251.0 2020-12-12
77         45    110       141     300.0 2020-12-13
78        120    100       130     500.4 2020-12-14
79        270    100       131    1729.0 2020-12-15
80         30    159       182     319.2 2020-12-16
81         45    149       169     344.0 2020-12-17
82         30    103       139     151.1 2020-12-18
83        120    100       130     500.0 2020-12-19
84         45    100       120     225.3 2020-12-20
85         30    151       170     300.0 2020-12-21
86         45    102       136     234.0 2020-12-16
87        120    100       157    1000.1 2020-12-23
88         45    129       103     242.0 2020-12-24
89         20     83       107      50.3 2020-12-25
90        180    101       127     600.1 2020-12-19
91         45    107       137       NaN 2020-12-27
92         30     90       107     105.3 2020-12-28
93         15     80       100      50.5 2020-12-29
94         20    150       171     127.4 2020-12-30
95         20    151       168     229.4 2020-12-31
96         30     95       128     128.2 2020-12-01
97         25    152       168     244.2 2020-12-02
98         30    109       131     188.2 2020-12-03
99         90     93       124     604.1 2020-12-04
100        20     95       112      77.7 2020-12-05
101        90     90       110     500.0 2020-12-06
102        90     90       100     500.0 2020-12-07
103        90     90       100     500.4 2020-12-08
104        30     92       108      92.7 2020-12-09
105        30     93       128     124.0 2020-12-10
106       180     90       120     800.3 2020-12-11
107        30     90       120      86.2 2020-12-12
108        90     90       120     500.3 2020-12-12
109       210    137       184    1860.4 2020-12-13
110        60    102       124     325.2 2020-12-14
111        45    107       124     275.0 2020-12-15
112        15    124       139     124.2 2020-12-16
113        45    100       120     225.3 2020-12-17
114        60    108       131     367.6 2020-12-18
115        60    108       151     351.7 2020-12-19
116        60    116       141     443.0 2020-12-20
117        60     97       122     277.4 2020-12-21
118        60    105       125       NaN 2020-12-24
119        60    103       124     332.7 2020-12-23
120        30    112       137     193.9 2020-12-24
121        45    100       120     100.7 2020-12-25
122        60    119       169     336.7 2020-12-17
123        60    107       127     344.9 2020-12-27
124        60    111       151     368.5 2020-12-28
125        60     98       122     271.0 2020-12-29
126        60     97       124     275.3 2020-12-30
127        60    109       127     382.0 2020-12-31
128        90     99       125     466.4 2020-12-01
129        60    114       151     384.0 2020-12-02
130        60    104       134     342.5 2020-12-03
131        60    107       138     357.5 2020-12-04
132        60    103       133     335.0 2020-12-05
133        60    106       132     327.5 2020-12-06
134        60    103       136     339.0 2020-12-07
135        20    136       156     189.0 2020-12-08
136        45    117       143     317.7 2020-12-09
137        45    115       137     318.0 2020-12-10
138        45    113       138     308.0 2020-12-11
139        20    141       162     222.4 2020-12-12
140        60    108       135     390.0 2020-12-12
141        60     97       127       NaN 2020-12-13
142        45    100       120     250.4 2020-12-14
143        45    122       149     335.4 2020-12-15
144        60    136       170     470.2 2020-12-16
145        45    106       126     270.8 2020-12-17
146        60    107       136     400.0 2020-12-18
147        60    112       146     361.9 2020-12-19
148        30    103       127     185.0 2020-12-20
149        60    110       150     409.4 2020-12-21
150        60    106       134     343.0 2020-12-24
151        60    109       129     353.2 2020-12-23
152        60    109       138     374.0 2020-12-24
153        30    150       167     275.8 2020-12-25
154        60    105       128     328.0 2020-12-18
155        60    111       151     368.5 2020-12-27
156        60     97       131     270.4 2020-12-28
157        60    100       120     270.4 2020-12-29
158        60    114       150     382.8 2020-12-30
159        30     80       120     240.9 2020-12-31
160        30     85       120     250.4 2020-12-01
161        45     90       130     260.4 2020-12-02
162        45     95       130     270.0 2020-12-03
163        45    100       140     280.9 2020-12-04
164        60    105       140     290.8 2020-12-05
165        60    110       145     300.0 2020-12-06
166        60    115       145     310.2 2020-12-07
167        75    120       150     320.4 2020-12-08
168        75    125       150     330.4 2020-12-09

Calories
300.0    0.060976
500.0    0.018293
270.4    0.012195
225.3    0.012195
500.4    0.012195
           ...
413.0    0.006098
450.7    0.006098
238.0    0.006098
486.0    0.006098
330.4    0.006098
Name: proportion, Length: 142, dtype: float64

In [9]:
import pandas as pd
data=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\dateTime.csv")
data['Date']=pd.to_datetime(data['Date'])
#print(data.to_string())
#data['Calories'].unique()
#data['Calories'].value_counts()
data['Calories'].value_counts(normalize=True)

Calories
300.0    0.060976
500.0    0.018293
270.4    0.012195
225.3    0.012195
500.4    0.012195
           ...
413.0    0.006098
450.7    0.006098
238.0    0.006098
486.0    0.006098
330.4    0.006098
Name: proportion, Length: 142, dtype: float64

In [10]:
data['Calories'].unique()

array([ 409.1,  479. ,  340. ,  282.4,  406. ,  300. ,  374. ,  253.3,
        195.1,  269. ,  329.3,  250.7,  345.3,  379.3,  275. ,  215.2,
          nan,  323. ,  243. ,  364.2,  282. ,  246. ,  334.5,  250. ,
        241. ,  280. ,  380.3,  180.1,  299. ,  223. ,  361. ,  415. ,
        266. ,  286. ,  329.4,  400. ,  397. ,  273. ,  387.6,  298. ,
        397.6,  380.2,  643.1,  263. ,  486. ,  238. ,  450.7,  413. ,
        305. ,  226.4,  321. , 1376. , 1034.4,  853. ,  341. ,  131.4,
        800.4,  873.4,  816. ,  110.4, 1500.2, 1115. ,  700. ,  953.2,
        304. ,  563.2,  251. ,  500.4, 1729. ,  319.2,  344. ,  151.1,
        500. ,  225.3,  234. , 1000.1,  242. ,   50.3,  600.1,  105.3,
         50.5,  127.4,  229.4,  128.2,  244.2,  188.2,  604.1,   77.7,
         92.7,  124. ,  800.3,   86.2,  500.3, 1860.4,  325.2,  124.2,
        367.6,  351.7,  443. ,  277.4,  332.7,  193.9,  100.7,  336.7,
        344.9,  368.5,  271. ,  275.3,  382. ,  466.4,  384. ,  342.5,
        357.5,  335. ,  327.5,  339. ,  189. ,  317.7,  318. ,  308. ,
        222.4,  390. ,  250.4,  335.4,  470.2,  270.8,  361.9,  185. ,
        409.4,  343. ,  353.2,  275.8,  328. ,  270.4,  382.8,  240.9,
        260.4,  270. ,  280.9,  290.8,  310.2,  320.4,  330.4])

In [11]:
data['Calories'].value_counts()

Calories
300.0    10
500.0     3
270.4     2
225.3     2
500.4     2
         ..
413.0     1
450.7     1
238.0     1
486.0     1
330.4     1
Name: count, Length: 142, dtype: int64

In [13]:
data['Calories'].mode()

0    300.0
Name: Calories, dtype: float64

In [14]:
data['Calories'].mean()

375.79024390243904

In [16]:
data['Calories'].median()

318.6

In [20]:
data.groupby(['Duration'])['Pulse'].median()

Duration
15     102.0
20     136.0
25     152.0
30     103.0
45     106.0
60     106.0
75     122.5
80     123.0
90      91.5
120    100.0
150    101.0
160    109.5
180     90.0
210    122.5
270    100.0
300    108.0
Name: Pulse, dtype: float64

In [23]:
data.groupby(['Duration'])['Pulse'].mean()
#print(data.to_string())

Duration
15     102.000000
20     125.000000
25     152.000000
30     109.812500
45     107.485714
60     106.126582
75     122.500000
80     123.000000
90      93.750000
120    100.000000
150    101.500000
160    109.500000
180     93.666667
210    122.500000
270    100.000000
300    108.000000
Name: Pulse, dtype: float64

In [36]:
#fnction--
def increse(s):
    return s+s*0.100
data['Pulse'].apply(increse)
data['New_Pulse'] = data['Pulse'].apply(increse)
def increse(d):
    return d+d*200
data['Duration'].apply(increse)
data['newduration'] = data ['Duration'].apply(increse)

data.head()

,Duration,Pulse,Maxpulse,Calories,Date,New_Price,New_Pulse,newduration
0,60,110,130,409.1,2020-12-01,121.0,121.0,12060
1,60,117,145,479.0,2020-12-02,128.7,128.7,12060
2,60,103,135,340.0,2020-12-03,113.3,113.3,12060
3,45,109,175,282.4,2020-12-04,119.9,119.9,9045
4,45,117,148,406.0,2020-12-05,128.7,128.7,9045

In [7]:
import pandas as pd
df = pd.read_csv(r"C:\Users\LENOVO\Downloads\weight-height.csv")
df.head()
df.Weight.describe()
df.Height.describe()

count    10000.000000
mean        66.367560
std          3.847528
min         54.263133
25%         63.505620
50%         66.318070
75%         69.174262
max         78.998742
Name: Height, dtype: float64

In [22]:
import pandas as pd
import seaborn as sns
df = pd.read_csv(r"C:\Users\LENOVO\Downloads\weight-height.csv")
#sns.histplot(df.Height,kde=True)
#kde=kernl density estimation
#df[(df.Height<54.82)|(df.Height>77.91)]
df_no_outlier = df[(df.Height<77.91) & (df.Height>54.82)]
df_no_outlier

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[9993 rows x 3 columns]

In [25]:
import pandas as pd
import seaborn as sns
df = pd.read_csv(r"C:\Users\LENOVO\Downloads\weight-height.csv")
df['zscore'] = ( df.Height - df.Height.mean() ) / df.Height.std()
df.head(5)

  Gender     Height      Weight    zscore
0   Male  73.847017  241.893563  1.943964
1   Male  68.781904  162.310473  0.627505
2   Male  74.110105  212.740856  2.012343
3   Male  71.730978  220.042470  1.393991
4   Male  69.881796  206.349801  0.913375