In [ ]:
#-----------------series--------------------------------
import pandas as pd
#how to create an empty series...
#how to create a series in arrays
#series using lists
#series using dictinary
empty=pd.Series()
empty

Series([], dtype: object)

In [ ]:
#series create list
list=pd.Series([10,20,30,40,],index=[1,2,3,4])
list



#add

1    10
2    20
3    30
4    40
dtype: int64

In [16]:
import numpy as np
import pandas as pd
a=np.array([60,70,80,90,100])
a
bs=pd.Series(a)
bs

0     60
1     70
2     80
3     90
4    100
dtype: int32

In [26]:
import pandas as pd
dict=pd.Series({"name":"abi","age":"22"})
dict

name    abi
age      22
dtype: object

In [32]:
dt=[('a',100),('b',200)]
pd.Series(dt)
#print(len(dt))

0    (a, 100)
1    (b, 200)
dtype: object

In [ ]:
#----------------------------DataFrame-------------------------------------
#1->Load the data from xlsx file
#2 ->load the data from csv file(comma separated value)
#3 ->create df from dictionary
#4 ->create of df using list of tuples
import pandas as pa
pd.read_csv

In [3]:
import pandas as pd
d={"name":['abi',"vijay","surya"],"marks":[92,80,85]}
pd.DataFrame(d)
#print(d)

    name  marks
0    abi     92
1  vijay     80
2  surya     85

In [41]:
t=[('abc','cse','90'),("def","sdd","85")]
pd.DataFrame(t,index=["i","j"])

     0    1   2
i  abc  cse  90
j  def  sdd  85

In [143]:
import pandas as pd
xl=pd.read_excel(r"C:\Users\LENOVO\Desktop\pandas\FSI-2023-DOWNLOAD.xlsx")
xl.sample(10)

,Country,Year,Rank,Total,S1: Demographic Pressures,S2: Refugees and IDPs,C3: Group Grievance,E3: Human Flight and Brain Drain,E2: Economic Inequality,E1: Economy,P1: State Legitimacy,P2: Public Services,P3: Human Rights,C1: Security Apparatus,C2: Factionalized Elites,X1: External Intervention
20,Burkina Faso,2023,21st,94.0,8.3,8.2,5.8,7.0,8.3,7.2,7.4,8.6,7.0,9.3,8.2,8.7
36,Mauritania,2023,37th,87.0,8.6,8.3,7.6,5.7,7.2,6.3,7.8,8.4,6.4,5.7,8.8,6.2
160,Japan,2023,161st,30.5,5.9,2.6,1.9,2.7,2.9,3.5,0.3,1.8,2.8,1.5,2.6,2.0
56,Honduras,2023,57th,79.6,6.9,5.8,4.9,6.7,6.7,6.3,6.8,7.8,7.6,6.8,7.0,6.3
0,Somalia,2023,1st,111.9,10.0,9.0,8.7,8.6,9.1,9.5,9.6,9.8,9.0,9.5,10.0,9.1
149,Costa Rica,2023,150th,40.4,2.9,4.9,2.4,2.9,5.1,5.5,1.2,4.1,1.2,2.9,3.8,3.5
107,Jamaica,2023,108th,61.9,4.8,2.2,1.6,9.5,5.3,6.9,4.2,7.0,5.2,7.0,3.7,4.5
134,Hungary,2023,135th,48.8,3.5,5.4,3.3,3.9,2.6,4.4,6.2,2.8,5.7,1.8,5.3,3.9
50,Sierra Leone,2023,51st,81.4,8.4,7.4,5.4,7.0,7.5,8.5,5.5,8.6,5.6,3.6,7.8,6.1
137,Croatia,2023,138th,48.7,4.8,6.8,4.3,6.1,2.9,5.7,2.3,2.9,2.0,2.0,4.4,4.5

In [71]:
import pandas as pd
xl=pd.read_excel(r"C:\Users\LENOVO\Desktop\pandas\FSI-2023-DOWNLOAD.xlsx")
print(pd.options.display.max_rows)
print(pd.options.display.min_rows)
#print(pd.options.display.min_colum)
print(pd.options.display.max_rows==50)
print(pd.options.display.max_columns)

60
10
False
20

In [73]:
import numpy as np
import pandas as pd
rand=pd.DataFrame(np.random.rand(5,3),columns=['rand-1','rand-2','rand-3'],index=['a','b','c','d','e'])
rand

     rand-1    rand-2    rand-3
a  0.111674  0.003417  0.767794
b  0.278761  0.949882  0.654639
c  0.358757  0.495546  0.142254
d  0.993119  0.835263  0.284080
e  0.804122  0.897357  0.912412

In [5]:
import pandas as pd
xl=pd.read_excel(r"C:\Users\LENOVO\Desktop\pandas\FSI-2023-DOWNLOAD.xlsx")
xl
xl.index
xl.memory_usage()

Index                                132
Country                             1432
Year                                1432
Rank                                1432
Total                               1432
S1: Demographic Pressures           1432
S2: Refugees and IDPs               1432
C3: Group Grievance                 1432
E3: Human Flight and Brain Drain    1432
E2: Economic Inequality             1432
E1: Economy                         1432
P1: State Legitimacy                1432
P2: Public Services                 1432
P3: Human Rights                    1432
C1: Security Apparatus              1432
C2: Factionalized Elites            1432
X1: External Intervention           1432
dtype: int64

In [15]:
import pandas as pd
xl=pd.read_excel(r"C:\Users\LENOVO\Desktop\pandas\FSI-2023-DOWNLOAD.xlsx")
#xl1=pd.DataFrame(xl)
xl.index
xl.shape
xl.ndim
xl.size
xl.memory_usage
xl.empty
#xl1.name()

False

In [144]:
operators = ['AT&T', 'Verizon', 'T-Mobile US', 'US Cellular']
revenue = [171.76, 128.29, 68.4, 4.04]

#creating a Series from lists
telecom = pd.Series(revenue, index=operators)
telecom
print(telecom[0])

171.76

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8916\1906859956.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(telecom[0])

In [102]:
operators = ['AT&T', 'Verizon', 'T-Mobile US', 'US Cellular']
revenue = [171.76, 128.29, 68.4, 4.04]

#creating a Series from lists
telecom = pd.Series(revenue, index=operators)
telecom
telecom['AT&T']
telecom['Verizon']
telecom['T-Mobile US']

68.4

In [ ]:
#----------------------Attributes----------------------------
#1Index-return all the values-------Series.Index
#2array-return an array of values------Series.array
#3values-return values of series -----Series.values
#name-----return name of series--------Series.name
#4shape--------Series.shape----------return the shape
#5ndim------Series.ndim----------retuns te dimenion of shape
#size-------series.size--------return size of series
#nbytes-series.nbytes-return the memory occupied by values.
#memory-usage()---------Series..memory-usage()-returns memory occupied by both indexes&values
#empty---------series.empty-return the series is empty false-if series is not empty

In [17]:
s=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'],name="Numbers")
s.index
s.index
s.array
s.values
s.dtype
s.ndim
s.shape
s.array
#s.nbytes
s.memory_usage()
s.memory_usage(index=False)
s.size
s.name
s.empty
s.shape

(5,)

In [ ]:
#applying mathametical operations in pandas------>
#arithmetic operator(+,-,*,/,<,>,==)

In [147]:
import pandas as pd
s1=pd.Series([10,20,30])
s2=pd.Series([40,50,60])
s1.add(s2)

0    50
1    70
2    90
dtype: int64

In [148]:
s1.subtract(s2)

0   -30
1   -30
2   -30
dtype: int64

In [149]:
s1.multiply(s2)

0     400
1    1000
2    1800
dtype: int64

In [150]:
s1.divide(s2)

0    0.25
1    0.40
2    0.50
dtype: float64

In [151]:
s1.mod(s2)

0    10
1    20
2    30
dtype: int64

In [153]:
s1.pow(s2)

0   -5047021154770878464
1                      0
2    1152921504606846976
dtype: int64

In [154]:
s1.le(s2)

0    True
1    True
2    True
dtype: bool

In [155]:
s1.gt(s2)

0    False
1    False
2    False
dtype: bool

In [29]:
import pandas as pd
a=pd.read_excel(r"C:\Users\LENOVO\Desktop\pandas\FSI-2023-DOWNLOAD.xlsx")
a.describe()
a.head()

,Country,Year,Rank,Total,S1: Demographic Pressures,S2: Refugees and IDPs,C3: Group Grievance,E3: Human Flight and Brain Drain,E2: Economic Inequality,E1: Economy,P1: State Legitimacy,P2: Public Services,P3: Human Rights,C1: Security Apparatus,C2: Factionalized Elites,X1: External Intervention
0,Somalia,2023,1st,111.9,10.0,9.0,8.7,8.6,9.1,9.5,9.6,9.8,9.0,9.5,10.0,9.1
1,Yemen,2023,2nd,108.9,9.6,9.6,8.8,6.4,7.9,9.9,9.8,9.6,9.6,8.6,9.9,9.2
2,South Sudan,2023,3rd,108.5,9.7,10.0,8.6,6.5,8.6,8.6,9.8,9.7,8.7,9.9,9.2,9.2
3,Congo Democratic Republic,2023,4th,107.2,9.7,9.8,9.4,6.4,8.4,8.1,9.3,9.3,9.3,8.8,9.6,9.1
4,Syria,2023,5th,107.1,7.4,9.1,9.1,8.0,6.5,9.6,10.0,9.0,9.1,9.4,9.9,10.0

In [30]:
import pandas as pd
b=pd.read_excel(r"C:\Users\LENOVO\Desktop\pandas\FSI-2023-DOWNLOAD.xlsx")
a=pd.DataFrame(b)
a.head()
a.head(2)
a.tail()
a.tail(5)
a.describe()
#a.columns
a.shape
a.index
#a.columns
#a['Country'].head()
a[['Country','Year','Rank']].head(10)
a[['Country','Year','Rank']].tail(2)
a[1:10:5]
a[['Country','Year','Total']][0:6]
a.loc[1]
a.loc[2:8]
#for index,rows in a.iterrows():
 #   print(index,rows[['Country','Total','Rank']])

,Country,Year,Rank,Total,S1: Demographic Pressures,S2: Refugees and IDPs,C3: Group Grievance,E3: Human Flight and Brain Drain,E2: Economic Inequality,E1: Economy,P1: State Legitimacy,P2: Public Services,P3: Human Rights,C1: Security Apparatus,C2: Factionalized Elites,X1: External Intervention
2,South Sudan,2023,3rd,108.5,9.7,10.0,8.6,6.5,8.6,8.6,9.8,9.7,8.7,9.9,9.2,9.2
3,Congo Democratic Republic,2023,4th,107.2,9.7,9.8,9.4,6.4,8.4,8.1,9.3,9.3,9.3,8.8,9.6,9.1
4,Syria,2023,5th,107.1,7.4,9.1,9.1,8.0,6.5,9.6,10.0,9.0,9.1,9.4,9.9,10.0
5,Afghanistan,2023,6th,106.6,9.2,8.6,8.3,8.5,8.2,9.6,9.4,10.0,8.7,9.7,8.7,7.7
6,Sudan,2023,7th,106.2,8.8,9.6,9.3,7.5,8.5,9.3,9.4,8.6,9.2,8.3,9.6,8.1
7,Central African Republic,2023,8th,105.7,9.3,9.5,8.1,6.2,9.6,8.2,8.9,10.0,9.1,8.0,9.4,9.4
8,Chad,2023,9th,104.6,9.5,9.0,8.1,7.7,8.7,8.4,9.1,9.6,8.4,8.7,9.5,7.9

In [37]:
a.loc[a['Country']=='Chad']

,Country,Year,Rank,Total,S1: Demographic Pressures,S2: Refugees and IDPs,C3: Group Grievance,E3: Human Flight and Brain Drain,E2: Economic Inequality,E1: Economy,P1: State Legitimacy,P2: Public Services,P3: Human Rights,C1: Security Apparatus,C2: Factionalized Elites,X1: External Intervention
8,Chad,2023,9th,104.6,9.5,9.0,8.1,7.7,8.7,8.4,9.1,9.6,8.4,8.7,9.5,7.9

In [42]:
#Sorting
import pandas as pd
z=pd.read_excel(r"C:\Users\LENOVO\Desktop\pandas\FSI-2023-DOWNLOAD.xlsx")
az=pd.DataFrame(z)
az.sort_values("Country")
az.sort_values('Country',ascending=False).head(10)
#az.sort_values(['Country','Total'],ascending=[0,1]).head(50)

,Country,Year,Rank,Total,S1: Demographic Pressures,S2: Refugees and IDPs,C3: Group Grievance,E3: Human Flight and Brain Drain,E2: Economic Inequality,E1: Economy,P1: State Legitimacy,P2: Public Services,P3: Human Rights,C1: Security Apparatus,C2: Factionalized Elites,X1: External Intervention
15,Zimbabwe,2023,16th,96.9,8.7,7.6,5.9,7.1,7.8,9.2,8.9,8.8,7.8,8.4,10.0,6.7
47,Zambia,2023,48th,81.8,9.4,4.9,5.9,6.3,9.1,8.2,6.7,8.1,7.5,3.9,5.6,6.2
1,Yemen,2023,2nd,108.9,9.6,9.6,8.8,6.4,7.9,9.9,9.8,9.6,9.6,8.6,9.9,9.2
117,Vietnam,2023,118th,58.3,4.4,3.9,4.8,4.7,3.5,3.6,8.0,3.8,7.5,3.5,6.9,3.7
28,Venezuela,2023,29th,90.5,6.5,6.5,6.4,6.5,6.9,9.4,9.6,8.3,8.6,6.7,9.4,5.7
94,Uzbekistan,2023,95th,66.8,4.3,3.8,5.4,4.8,5.3,5.1,9.0,4.0,7.3,5.6,8.8,3.4
156,Uruguay,2023,157th,34.4,3.4,1.8,2.3,3.4,3.3,4.1,0.4,3.2,3.6,3.6,2.7,2.6
140,United States,2023,141st,45.3,5.2,2.2,6.5,1.7,4.0,2.1,4.2,2.2,4.2,4.7,7.3,1.0
147,United Kingdom,2023,148th,41.9,3.4,2.4,6.1,2.4,3.7,5.0,3.6,2.6,2.7,2.9,5.8,1.3
155,United Arab Emirates,2023,156th,37.0,3.6,1.4,2.2,2.1,3.1,1.6,6.4,2.1,6.8,2.3,3.6,1.8

In [118]:
#manipulating data,drop and addd
import pandas as pd
w=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\dateTime.csv")
qw=pd.DataFrame(w)
#print(qw)
qw['Total_calories']=0
qw
qw['Total_calories']=qw['Maxpulse']+qw['Calories']
qw
qw.describe()
qw['Total_pulse']=0
qw
qw['Total_pulse']=qw['Pulse']+qw['Maxpulse']
qw
qw.drop(columns='Date')

     Duration  Pulse  Maxpulse  Calories  Total_calories  Total_pulse
0          60    110       130     409.1           539.1          240
1          60    117       145     479.0           624.0          262
2          60    103       135     340.0           475.0          238
3          45    109       175     282.4           457.4          284
4          45    117       148     406.0           554.0          265
..        ...    ...       ...       ...             ...          ...
164        60    105       140     290.8           430.8          245
165        60    110       145     300.0           445.0          255
166        60    115       145     310.2           455.2          260
167        75    120       150     320.4           470.4          270
168        75    125       150     330.4           480.4          275

[169 rows x 6 columns]

In [121]:
qw[['Pulse','Maxpulse','Total_pulse']]

     Pulse  Maxpulse  Total_pulse
0      110       130          240
1      117       145          262
2      103       135          238
3      109       175          284
4      117       148          265
..     ...       ...          ...
164    105       140          245
165    110       145          255
166    115       145          260
167    120       150          270
168    125       150          275

[169 rows x 3 columns]

In [123]:
qw[['Duration','Calories']]

     Duration  Calories
0          60     409.1
1          60     479.0
2          60     340.0
3          45     282.4
4          45     406.0
..        ...       ...
164        60     290.8
165        60     300.0
166        60     310.2
167        75     320.4
168        75     330.4

[169 rows x 2 columns]

In [132]:
import pandas as pd
exp=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\dateTime.csv")
exp1=pd.DataFrame(exp)
exp1
exp1['Totalcalories']=0
exp1
exp1['Totalcalories']=exp1['Maxpulse']+exp1['Calories']
exp1
exp1.drop(columns='Date')
exp1.to_csv("C:\\Users\LENOVO\\Desktop\\pandas\\dateTime_updates.csv")

In [169]:
import pandas as pd
exc=pd.read_excel(r"C:\Users\LENOVO\Desktop\pandas\FSI-2023-DOWNLOAD.xlsx")
opt=pd.DataFrame(exc)
opt
opt.drop(columns= ["X1: External Intervention","C2: Factionalized Elites","C1: Security Apparatus"])
opt.to_excel("C:\\Users\\LENOVO\\Desktop\\pandas\\FSI-update.xlsx")

In [201]:
import pandas as pd
xc=pd.read_excel(r"C:\\Users\\LENOVO\\Desktop\\pandas\\FSI-update.xlsx")
xcz=pd.DataFrame(xc)
xcz
#xcz.Total.mean
#xcz.Country.mean

,Unnamed: 0,Country,Year,Rank,Total,S1: Demographic Pressures,S2: Refugees and IDPs,C3: Group Grievance,E3: Human Flight and Brain Drain,E2: Economic Inequality,E1: Economy,P1: State Legitimacy,P2: Public Services,P3: Human Rights,C1: Security Apparatus,C2: Factionalized Elites,X1: External Intervention
0,0,Somalia,2023,1st,111.9,10.0,9.0,8.7,8.6,9.1,9.5,9.6,9.8,9.0,9.5,10.0,9.1
1,1,Yemen,2023,2nd,108.9,9.6,9.6,8.8,6.4,7.9,9.9,9.8,9.6,9.6,8.6,9.9,9.2
2,2,South Sudan,2023,3rd,108.5,9.7,10.0,8.6,6.5,8.6,8.6,9.8,9.7,8.7,9.9,9.2,9.2
3,3,Congo Democratic Republic,2023,4th,107.2,9.7,9.8,9.4,6.4,8.4,8.1,9.3,9.3,9.3,8.8,9.6,9.1
4,4,Syria,2023,5th,107.1,7.4,9.1,9.1,8.0,6.5,9.6,10.0,9.0,9.1,9.4,9.9,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,174,Switzerland,2023,175th,17.8,2.4,3.2,2.1,1.0,2.4,1.6,0.3,1.6,0.4,1.4,1.0,0.4
175,175,New Zealand,2023,176th,16.7,1.1,1.2,2.0,1.6,2.6,2.6,0.5,1.1,0.5,1.6,1.4,0.5
176,176,Finland,2023,177th,16.0,1.7,1.9,0.3,1.5,1.6,2.7,0.4,1.0,0.5,2.0,1.4,1.0
177,177,Iceland,2023,178th,15.7,1.5,1.5,0.5,1.6,1.5,2.6,0.4,0.9,0.4,0.4,1.8,2.6
178,178,Norway,2023,179th,14.5,1.4,1.7,3.1,0.7,1.4,1.4,0.4,1.0,0.4,1.4,1.1,0.5

In [46]:
#iloc&loc
import pandas as pd
value=pd.read_excel(r"C:\\Users\\LENOVO\\Desktop\\pandas\\FSI-update.xlsx")
value1=pd.DataFrame(value)
value1.loc[3,"Country"]
value1.loc[0:4,["Country","Year"]]
value1.loc[0:4,"Country":"Total"]
#value1.loc[0:4,["Country","Year"]]
#value1.loc[0:4,"Country":"S1: Demographic Pressures"]
#value1.loc[0:9,["Country","C3: Group Grievance"]]
#value1.loc[0:9,"Country":"C3: Group Grievance"]

                     Country  Year Rank  Total
0                    Somalia  2023  1st  111.9
1                      Yemen  2023  2nd  108.9
2                South Sudan  2023  3rd  108.5
3  Congo Democratic Republic  2023  4th  107.2
4                      Syria  2023  5th  107.1

In [22]:
#iloc
#value1.iloc[0:4,1:8]
#value1.loc[0:4,"Country":"Total"]
#value1.loc[0:4,["Country","Total"]]
#value1.iloc[0:8,0:2]
#value1.head()

In [227]:
value1.iloc[:,[1,3]]
value1.iloc[:,[3,7]]

      Rank  C3: Group Grievance
0      1st                  8.7
1      2nd                  8.8
2      3rd                  8.6
3      4th                  9.4
4      5th                  9.1
..     ...                  ...
174  175th                  2.1
175  176th                  2.0
176  177th                  0.3
177  178th                  0.5
178  179th                  3.1

[179 rows x 2 columns]

In [250]:
#missing data
miss=pd.read_excel(r"C:\Users\LENOVO\Desktop\pandas\Book1.xlsx")
data=pd.DataFrame(miss)
#data
#print(data.dropna())
#print(data.dropna(inplace=True))
data

                                           Unnamed: 0
0                                                 NaN
1   | Student ID | Tamil | English | Maths | Scien...
2   |------------|-------|---------|-------|------...
3   | Abishek      | 85    | 78      | 92    | 88 ...
4   | sogail        | 90    | 81      | 85    | 92...
5   | preetha          | 76    | 85      | 88    |...
6   | crysta         | 82    | 79      | 90    | 8...
7   | kia         | 89    | 80      | 84    | 91  ...
8                                                 NaN
9   |        | 88    | 82      | 87    | 89      |...
10  | sam        | 79    | 86      | 91    | 84   ...
11  | dora     | 85    | 83      | 82    | 88     ...
12  | chutki        | 92    | 79      | 90    | 87...
13  | bindhu       | 80    | 84      | 77    | 82 ...
14                                                NaN
15  | wonderie      | 73    | 81      | 88    | 85...
16  | freaki       | 91    | 76      | 82    | 84 ...
17  | lulu     | 86    | 88      | 79    | 83     ...
18  | guen      | 84    | 77      | 84    | 86    ...
19  | ben       | 79    | 80      | 92    | 90    ...
20  | jacky    | 82    | 83      | 81    | 89     ...
21  | freaky    | 88    | 87      | 85    | 87    ...
22  |        | 74    | 79      | 77    | 82      |...

In [65]:
import pandas as pd
csv=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\info.csv")
cs=pd.DataFrame(csv)
cs.dropna()
cs[["Duration","Pulse"]].dropna()
cs.loc[:,["Duration"]].dropna()
cs.fillna("Data MIssing")
cs["Pulse"].fillna(112,inplace=True)
cs.loc[:,["Maxpulse","Calories"]].fillna(113)
cs["Maxpulse"].fillna(120,inplace=True)
cs

    Duration          Date  Pulse  Maxpulse  Calories
0       60.0  '2020/12/01'  112.0     130.0     409.1
1       60.0  '2020/12/02'  117.0     145.0     479.0
2       60.0  '2020/12/03'  103.0     135.0     340.0
3       45.0  '2020/12/04'  109.0     175.0     282.4
4       45.0  '2020/12/05'  117.0     148.0     406.0
5       60.0  '2020/12/04'  102.0     127.0     300.0
6       60.0  '2020/12/04'  110.0     136.0     374.0
7      450.0  '2020/12/04'  104.0     134.0     253.3
8       30.0  '2020/12/04'  109.0     133.0     195.1
9       60.0  '2020/12/04'   98.0     124.0     269.0
10      60.0  '2020/12/04'  103.0     147.0     329.3
11      60.0  '2020/12/04'  100.0     120.0     250.7
12       NaN  '2020/12/04'  100.0     120.0       NaN
13      60.0  '2020/12/04'  106.0     128.0     345.3
14      60.0  '2020/12/04'  104.0     132.0     379.3
15      60.0  '2020/12/04'   98.0     123.0     275.0
16      60.0  '2020/12/04'   98.0     120.0     215.2
17      60.0  '2020/12/05'  100.0     120.0     300.0
18      45.0  '2020/12/05'   90.0     112.0       NaN
19      60.0  '2020/12/05'  103.0     123.0     323.0
20      45.0  '2020/12/05'   97.0     125.0     243.0
21      60.0  '2020/12/05'  108.0     131.0     364.2
22      45.0  '2020/12/05'  100.0     119.0     282.0
23      60.0  '2020/12/05'  130.0     101.0     300.0
24      45.0  '2020/12/05'  105.0     132.0     246.0
25      60.0  '2020/12/05'  102.0     126.0     334.5
26      60.0  '2020/12/05'  100.0     120.0     250.0
27      60.0  '2020/12/05'   92.0     118.0     241.0
28      60.0  '2020/12/05'  103.0     132.0       NaN
29      60.0  '2020/12/05'  100.0     132.0     280.0
30      60.0  '2020/12/05'  102.0     129.0     380.3
31      60.0  '2020/12/05'   92.0     120.0     243.0

In [76]:
#Remove Duplicates in Data Frame
import pandas as pd
cx=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\info.csv")
csx=pd.DataFrame(cx)
csx["Calories"].fillna(300,inplace=True)
csx["Maxpulse"].fillna(118,inplace=True)
csx["Duration"].fillna(60.0,inplace=True)
csx["Pulse"].fillna(117.0,inplace=True)
csx
csx.duplicated('Calories').head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [317]:
csx.drop_duplicates()
csx.drop_duplicates(inplace=True)
csx

    Duration          Date  Pulse  Maxpulse  Calories
0       60.0  '2020/12/01'  117.0     130.0     409.1
1       60.0  '2020/12/02'  117.0     145.0     479.0
2       60.0  '2020/12/03'  103.0     135.0     340.0
3       45.0  '2020/12/04'  109.0     175.0     282.4
4       45.0  '2020/12/05'  117.0     148.0     406.0
5       60.0  '2020/12/04'  102.0     127.0     300.0
6       60.0  '2020/12/04'  110.0     136.0     374.0
7      450.0  '2020/12/04'  104.0     134.0     253.3
8       30.0  '2020/12/04'  109.0     133.0     195.1
9       60.0  '2020/12/04'   98.0     124.0     269.0
10      60.0  '2020/12/04'  103.0     147.0     329.3
11      60.0  '2020/12/04'  100.0     120.0     250.7
12      60.0  '2020/12/04'  100.0     120.0     300.0
13      60.0  '2020/12/04'  106.0     128.0     345.3
14      60.0  '2020/12/04'  104.0     132.0     379.3
15      60.0  '2020/12/04'   98.0     123.0     275.0
16      60.0  '2020/12/04'   98.0     120.0     215.2
17      60.0  '2020/12/05'  100.0     120.0     300.0
18      45.0  '2020/12/05'   90.0     112.0     300.0
19      60.0  '2020/12/05'  103.0     123.0     323.0
20      45.0  '2020/12/05'   97.0     125.0     243.0
21      60.0  '2020/12/05'  108.0     131.0     364.2
22      45.0  '2020/12/05'  100.0     119.0     282.0
23      60.0  '2020/12/05'  130.0     101.0     300.0
24      45.0  '2020/12/05'  105.0     132.0     246.0
25      60.0  '2020/12/05'  102.0     126.0     334.5
26      60.0  '2020/12/05'  100.0     120.0     250.0
27      60.0  '2020/12/05'   92.0     118.0     241.0
28      60.0  '2020/12/05'  103.0     132.0     300.0
29      60.0  '2020/12/05'  100.0     132.0     280.0
30      60.0  '2020/12/05'  102.0     129.0     380.3
31      60.0  '2020/12/05'   92.0     118.0     243.0

In [66]:
#Data Filtering-
wqw=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\dateTime_updates.csv")
i=pd.DataFrame(wqw)
i
i.loc[i['Pulse']<110]
i.loc[i['Duration']>30]
i.loc[(i["Pulse"]<117)&(i["Maxpulse"]<120)]
#i.loc[(i["Pulse"]<117)|(i["Maxpulse"]<120)].head()

,Unnamed: 0,Duration,Pulse,Maxpulse,Calories,Date,Totalcalories
17,17,45,90,112,NaN,'2020/12/17',NaN
21,21,45,100,119,282.0,'2020/12/21',401.0
26,26,60,92,118,241.0,'2020/12/19',359.0
30,30,60,92,115,243.0,'2020/12/30',358.0
31,31,45,90,112,180.1,'2020/12/31',292.1
33,33,60,93,113,223.0,'2020/12/02',336.0
40,40,45,90,112,180.1,'2020/12/09',292.1
45,45,60,99,119,273.0,'2020/12/13',392.0
89,89,20,83,107,50.3,'2020/12/25',157.3
92,92,30,90,107,105.3,'2020/12/28',212.3
93,93,15,80,100,50.5,'2020/12/29',150.5
100,100,20,95,112,77.7,'2020/12/05',189.7
101,101,90,90,110,500.0,'2020/12/06',610.0
102,102,90,90,100,500.0,'2020/12/07',600.0
103,103,90,90,100,500.4,'2020/12/08',600.4
104,104,30,92,108,92.7,'2020/12/09',200.7

In [19]:
#conditinal Chnges----
import pandas as pd
p=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\dateTime_updates.csv")
kd=pd.DataFrame(p)
kd.sample(10)
kd['Total']=kd["Duration"]+kd["Pulse"]+kd["Maxpulse"]+kd["Calories"]+kd["Totalcalories"]
kd.head()
kd['Percentage']=(kd["Total"]/500)
kd['exp']=(kd["Total"]*2)
kd["Status"]="None"
kd
#kd.loc[kd['Calories']>400,['Status']]="Bad"
#kd.loc[kd['Calories']<400,['Status']]="Good"
#kd['Calories'].unique()
#kd['Calories'].value_counts()
kd.groupby(['Calories'])['Pulse'].mean()
kd.columns
kd.rename(columns={'Duration':'Duara_tion'},inplace=True)
kd.drop(columns='Unnamed: 0',inplace=True)

kd.head()
kd.columns

Index(['Duara_tion', 'Pulse', 'Maxpulse', 'Calories', 'Date', 'Totalcalories',
       'Total', 'Percentage', 'exp', 'Status'],
      dtype='object')

In [360]:
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_built_with_meson', '_config', '_is_numpy_dev', '_libs', '_pandas_datetime_CAPI', '_pandas_parser_CAPI', '_testing', '_typing', '_version_meson', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [15]:
import pandas as pd
qw=pd.read_csv(r"C:\Users\LENOVO\Desktop\pandas\info.csv")
aq=pd.DataFrame(qw)
for i in aq. index:
    if aq.loc[i,"Calories"]>300:
        aq.drop(i,inplace=True)
aq

    Duration          Date  Pulse  Maxpulse  Calories
3       45.0  '2020/12/04'  109.0     175.0     282.4
5       60.0  '2020/12/04'  102.0     127.0     300.0
7      450.0  '2020/12/04'  104.0     134.0     253.3
8       30.0  '2020/12/04'  109.0     133.0     195.1
9       60.0  '2020/12/04'   98.0     124.0     269.0
11      60.0  '2020/12/04'  100.0     120.0     250.7
12       NaN  '2020/12/04'  100.0     120.0       NaN
15      60.0  '2020/12/04'   98.0     123.0     275.0
16      60.0  '2020/12/04'   98.0     120.0     215.2
17      60.0  '2020/12/05'  100.0     120.0     300.0
18      45.0  '2020/12/05'   90.0     112.0       NaN
20      45.0  '2020/12/05'   97.0     125.0     243.0
22      45.0  '2020/12/05'  100.0     119.0     282.0
23      60.0  '2020/12/05'  130.0     101.0     300.0
24      45.0  '2020/12/05'  105.0     132.0     246.0
26      60.0  '2020/12/05'  100.0     120.0     250.0
27      60.0  '2020/12/05'   92.0     118.0     241.0
28      60.0  '2020/12/05'  103.0     132.0       NaN
29      60.0  '2020/12/05'  100.0     132.0     280.0
31      60.0  '2020/12/05'   92.0       NaN     243.0

In [10]:
#pandas as series convert to list
import pandas as pd
s=pd.Series([2,4,5,6,7,8])
print(s)
print(type(s))
print(s.tolist())
print(type(s.tolist()))

0    2
1    4
2    5
3    6
4    7
5    8
dtype: int64
<class 'pandas.core.series.Series'>
[2, 4, 5, 6, 7, 8]
<class 'list'>

In [ ]:
import pandas as pd
s=pd.Series([2,4,5,6,7,8])